{% if settings.show_banner %}
    <div class="sitewide-banner">
        {{ settings.banner_text }}
    </div>
{% endif %}

<header class="site-header {% if settings.header_behavior == 'sticky' %} is-sticky {% endif %}">
    
    <div class="site-logo-wrapper">
        
        {% comment %}<h1>{{ shop.name }}</h1>{% endcomment %}
        
        {%- if settings.logo != blank -%}
            <a class="site-logo js-close-cart" href="/">
              {{ settings.logo | image_url: width: 500 | image_tag:
                height: settings.logo.height,
                width: settings.logo.width,
                alt: settings.logo.alt
              }}
            </a>
        {%- else -%}
              <h1 class="site-title"><a href="/">{{ shop.name }}</a></h1>
            {%- endif -%}
        </a>

    </div>

    <a href="#" class="nav-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    
    <nav class="site-navigation">
        <div>
            {% for link in linklists.main-menu.links -%}
                <div class="site-navigation-item"><a href="{{ link.url }}" {% if link.current %}aria-current="page" class="active" {% endif %}>{{ link.title }}</a></div>
            {%- endfor %}
            {% if settings.instagram %}
                <div class="site-navigation-item"><a href="{{ settings.instagram }}" target="_blank">Instagram</a></div>
            {% endif %}
            <div class="site-navigation-item"><a href="/cart" {% if template == 'cart' %}aria-current="page" class="active"{% endif %}>Cart</a></div>
        </div>
    </nav>

    {% if settings.show_search %}
        <form class="site-header-search-form" action="/search">
            <input type="search" name="q" placeholder="Search" value="{{ search.terms | escape }}"/>
            <button type="submit">Search</button>
        </form>
    {% endif %}

    <button class="cart-drawer-button cart-link js-open-cart">
        <!-- <img src="{{ 'btn-cart.png' | asset_url }}"/> -->
        Cart <span class="cart-drawer-button-count js-cart-count">{% unless cart.item_count == 0 %}{{ cart.item_count }}{% endunless %}</span>
    </button>
</header>