<!--
 ____                ___       ___                 
/\  _`\             /\_ \     /\_ \                
\ \ \L\ \   __  __  \//\ \    \//\ \     __  __    
 \ \  _ <' /\ \/\ \   \ \ \     \ \ \   /\ \/\ \   
  \ \ \L\ \\ \ \_\ \   \_\ \_    \_\ \_ \ \ \_\ \  
   \ \____/ \ \____/   /\____\   /\____\ \/`____ \ 
    \/___/   \/___/    \/____/   \/____/  `/___/> \
                                             /\___/
                                             \/__/ 
theme by connor hubeny - connorhubeny.com -->
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    
    <link rel="stylesheet" href="https://use.typekit.net/qkf8vua.css">
    
    {{ content_for_header }}

    {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
    {{ 'glide.min.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}

    <style> 
        main { opacity: 0; }
        .site-navigation-item { opacity: 0; transform: translateY(6px); }
    </style>
</head>
<body>

    {% render 'header' %}

    {% render 'cart-drawer' %}

    {% render 'loading-screen' %}

    <main class="site-main {% if page %}css-center-align{% endif %}" data-barba="wrapper">
        <div id="{% if request.path == '/' %}index{% else %}{{ request.path | remove_first: '/' | replace: '/', '--' }}{% endif %}"
             class="site-content site-content-{{ template.name }}" 
             data-barba="container"
             data-barba-namespace="{{ template.name }}{{ template.suffix }}">
                {{ content_for_layout }}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/modernizr@3.12.0/lib/cli.min.js"></script>

    {{ 'modernizr-custom.js' | asset_url | script_tag }}
    {{ 'axios.min.js'  | asset_url | script_tag }}
    
    {{ 'url-parse.min.js' | asset_url | script_tag }}
    {{ 'barba.min.js' | asset_url | script_tag }}

    {{ 'gsap.min.js' | asset_url | script_tag }}
    {{ 'ScrollToPlugin.min.js' | asset_url | script_tag }}
    {{ 'ScrollTrigger.min.js' | asset_url | script_tag }}

    {{ 'glide.min.js' | asset_url | script_tag }}
    {{ 'photoswipe-lightbox.umd.min.js' | asset_url | script_tag }}
    {{ 'photoswipe.umd.min.js' | asset_url | script_tag }}
    
    {{ 'core.js' | asset_url | script_tag }}

    {% comment %}
    temporarily remove barba
    {{ 'editor.js' | asset_url | script_tag }}
    {% endcomment %}

    {% if request.design_mode %}
        {{ 'editor.js' | asset_url | script_tag }}
    {% else %}
        {{ 'scripts.js' | asset_url | script_tag }}
    {% endif %}
    
    


</body>
</html>