<div class="cart">
    <h1>Cart</h1>

    <script>
        console.log('cart', {{ cart | json }});
    </script>

    {% form 'cart', cart %}
        {% if cart.empty? %}
            <h4>Your Cart is empty</h4>
        {% else %}
            <div class="cart-wrapper" data-moneyformat="{{ shop.money_format }}">
                {% for item in cart.items %}
                    <div class="cart-item" data-key="{{ item.key }}">
                        <div class="cart-item__img">
                            <a href="{{ item.url }}">
                                <img src="{{ item.image | image_url: width: 200}}"/>
                            </a>
                        </div>
                        <div class="cart-item__content">
                            <h2 class="cart-title"><a href="{{ item.url }}">{{ item.title }}</a></h2>
                            <p class="cart-price">
                                {{ item.final_line_price | money }}
                                
                            </p>
                            {% if item.total_discount > 0 %}
                                <span class="cart-price discount-tag">{{ item.total_discount | money }} off</span>
                            {% endif %}

                            {% comment %} Quantity {% endcomment %}
                            <div class="cart-quantity-sector">
                              <button class="quantity__btn js-minus" type="button">-</button>
                              <input  class="quantity__input" id="quantity" name="updates[]" value="{{ item.quantity }}" min="1" max="100" />
                              <button class="quantity__btn js-plus" type="button">+</button>
                            </div>

                            <a class="js-remove-cart-item" href="{{ item.url_to_remove }}">Remove from Cart</a>
                        </div>
                    </div>
                {% endfor %}

                <hr/>

                {% if settings.enable_order_notes %}
                    <div class="cart-note">
                        <textarea name="note" placeholder="Add special instructions">{{ cart.note }}</textarea>
                    </div>
                {% endif %}

                {% comment %}
                    Implement Order Note: https://youtu.be/Ap_csCnTSA4?t=1254
                {% endcomment %}
                <div class="cart-totals">

                    {% unless cart.total_discounts == 0 %}
                        <p>Discounts: <span id="cartTotalDiscount">{{ cart.total_discounts | money }}</span></p>
                    {% endunless %}

                    <p>Total: <span id="cartTotalPrice">{{ cart.total_price | money }}</span></p>
                </div>

                <button type="submit" name="update">Update Cart</button> 
                <button type="submit" name="checkout">Checkout</button>
            </div>
        {% endif %}
    {% endform %}
</div>