
<div class="cart-wrapper">
    
        {% if cart.empty? %}
            <h4 class="cart-label empty-cart-label">Your Cart is empty</h4>
        {% else %}
            <div class="cart" data-moneyformat="{{ shop.money_format }}">
                <div class="cart__header">
                    <h1 class="cart-label">Cart</h1>
                </div>

                <div class="cart__body">
                    <div class="cart-table">
                        <div class="cart-table__header">
                            <div class="cart-col-product">
                                <span class="cart-label">Products (<span class="js-cart-count">{{ cart.item_count }}</span>)</span><br/>
                            </div>
                            <div class="cart-col-amount">
                                <span class="cart-label">Amount</span>
                            </div>
                            <div class="cart-col-total">
                                <span class="cart-label">Total</span>
                            </div>
                        </div>

                        <div class="cart-table__body">
                            {% for item in cart.items %}
                                <div class="cart-item js-cart-item" data-key="{{ item.key }}">
                                    <div class="cart-col-product">
                                        <div class="cart-card js-cart-item" data-key="{{ item.key }}">
                                            <div class="cart-item__img">
                                                <a href="{{ item.url }}">
                                                    <img src="{{ item.image | image_url: width: 200}}"/>
                                                </a>
                                            </div>
                                            <div class="cart-item__content">

                                                <h2 class="cart-title"><a href="{{ item.url }}">{{ item.product.title | upcase }}</a></h2>
                                                
                                                <div>
                                                    <p class="cart-label-small">{{ item.price | money }}</p> 
                                                    
                                                    {% if item.options_with_values %}
                                                        <p class="cart-label-small caps"> | </p>
                                                        {% for variant in item.options_with_values %}
                                                            <p class="cart-label-small caps">
                                                                {% unless variant.name == 'Amount' %}
                                                                    {{ variant.name}}: 
                                                                {% endunless %}
                                                                
                                                                {{variant.value}}
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                
                                                {% comment %} Quantity {% endcomment %}
                                                <div class="cart-quantity-sector">
                                                  <button class="quantity__btn js-minus" type="button">-</button>
                                                  <input  class="quantity__input" id="quantity" name="updates[]" value="{{ item.quantity }}" min="1" max="100" />
                                                  <button class="quantity__btn js-plus" type="button">+</button>
                                                </div>

                                                <a class="cart-link cart-remove-item js-remove-cart-item" href="#" data-key="{{ item.key }}">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-col-amount">
                                        <span class="cart-label-small">x<span class="js-cart-item-quantity">{{ item.quantity }}</span></span>
                                    </div>
                                    <div class="cart-col-total">
                                        <p class="cart-label-small js-cart-item-price">{{ item.final_line_price | money }}</p> 
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    
                </div>

                <div class="cart__footer">

                    {% if settings.enable_order_notes %}
                        <div class="cart-note">
                            <textarea name="note" placeholder="Add special instructions">{{ cart.note }}</textarea>
                        </div>
                    {% endif %}

                    {% comment %}
                        {% form 'cart', cart %} 
                            <p>Actual Form</p>
                        {% endform %}
                        Implement Order Note: https://youtu.be/Ap_csCnTSA4?t=1254
                        {% unless cart.total_discounts == 0 %}
                            <p class="cart-label">Discounts: <span id="cartTotalDiscount">{{ cart.total_discounts | money }}</span></p>
                        {% endunless %}
                    {% endcomment %}
                    <div class="cart-totals">
                        <p class="">Subtotal: <span class="js-cart-total">{{ cart.total_price | money }}</span></p>
                    </div>
                    <br/>
                    {% form 'cart', cart %} 
                        <button class="js-checkout btn black" type="submit" name="checkout">Checkout</button>
                    {% endform %}
                </div>
            </div>
            

        {% endif %}
   {% comment %} {% form 'cart', cart %} {% endform %} {% endcomment %}

</div>