<section class="single-product" data-producturl="{{ product.url }}">
    <div class="single-product__left">
        <div class="sp-gallery">
            {% for image in product.images %}
                <div class="sp-gallery-item">
                    <img src="{{ image | image_url: master }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="single-product__right">
        <div class="sp-wrapper">
            <h1 class="sp-title">{{ product.title }}</h1>
            
            <div class="sp-price-wrapper">
                <p class="sp-compare-price {% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %} hidden {% endunless %}">
                    {{ product.selected_or_first_available_variant.compare_at_price | money }}
                </p><p class="sp-price" data-moneyformat="{{ shop.money_format }}">{{ product.selected_or_first_available_variant.price | money }}</p>
            </div>

            {% comment %}
                {% if product.selected_or_first_available_variant.compare_at_price %}
                {% endif %}
            {% endcomment %}
            
            <p class="sp-description">{{ product.description }}</p>

            {% form 'product', product %}
                
                {% comment %} Hidden field for the product id we pass to cart {% endcomment %}
                <input id="productId" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"/> 
                
                {% comment %} Only show variants that exist {% endcomment %}
                {% unless product.has_only_default_variant %}
                    {% for option in product.options_with_values %}
                        <div class="sp-option">
                            <fieldset>
                                <legend>{{ option.name }}</legend>
                                {% for value in option.values %}
                                    <div>
                                        <input type="radio" 
                                            name="{{ option.name }}"
                                            value="{{ value }}"
                                            id="{{ option.name | handlize }}-{{ value | handlize }}"
                                            {% if option.selected_value == value %} checked {% endif %}/>
                                        <label for="{{ option.name | handlize }}-{{ value | handlize }}">{{ value }}</label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                    {% endfor %}
                {% endunless %}

                {% comment %} Quantity {% endcomment %}
                <div class="sp-option">
                  <button class="quantity__btn js-sub" type="button">-</button>
                  <input  class="quantity__input" id="quantity" name="quantity" value="1" min="1" max="5" />
                  <button class="quantity__btn js-add" type="button">+</button>
                </div>

                <button type="submit">Add to Cart</button>
                
            {% endform %}
        </div>
    </div>
</section>