<section class="single-product" data-producturl="{{ product.url }}">
    <div class="single-product__left">

        <section class="sp-gallery">
            {% if product.selected_or_first_available_variant.featured_image %}
                {% assign featured = product.selected_or_first_available_variant %}
                {% assign num = 'true'; %}
            {% else %}
                {% assign featured = product %}
                {% assign num = 'false'; %}
            {% endif %}

            <div class="glide" data-glide-start="{{ featured.featured_media.position }}">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for image in product.images %}
                        <li class="glide__slide">
                            <div class="gallery-item {% if image == featured %}active{% endif %}" data-index="{{ forloop.index0 }}">
                                <a href="{{ image | image_url: master }}" data-pswp-width="{{ image.width }}" data-pswp-height="{{ image.height }}">
                                    <img data-index="{{ forloop.index0 }}"
                                     src="{{ image | image_url: master }}" 
                                     width="{{ image.width }}" 
                                     height="{{ image.height }}" 
                                     alt="{{ image.alt }}" />
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                {% comment %} Glide Arrows
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                </div>
                {% endcomment %}

                <div class="glide__bullets" data-glide-el="controls[nav]">
                    {% for image in product.images %}
                        <button class="glide__bullet" data-glide-dir="={{ forloop.index0 }}">
                            <img data-index="{{ forloop.index0 }}"
                                 src="{{ image | image_url: width: 200 }}" 
                                 width="{{ image.width }}" 
                                 height="{{ image.height }}" 
                                 alt="{{ image.alt }}" />
                        </button>
                    {% endfor %}
                    
                </div>

              </div>
            </div>
            
            {% comment %} Glide Controls
            <div data-glide-el="controls">
              <button data-glide-dir="<<">Start</button>
              <button data-glide-dir=">>">End</button>
            </div>
            {% endcomment %}
                    
        </section>
    </div>
    <div class="single-product__right">
        <div class="sp-wrapper">
            <h1 class="sp-title">{{ product.title }}</h1>
            
            <div class="sp-price-wrapper">
                <p class="sp-compare-price js-sp-compare-price {% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %} hidden {% endunless %}">
                    {{ product.selected_or_first_available_variant.compare_at_price | money }}
                </p><p class="sp-price" data-moneyformat="{{ shop.money_format }}">{{ product.selected_or_first_available_variant.price | money }}</p>
            </div>

            {% comment %}
                {% if product.selected_or_first_available_variant.compare_at_price %}
                {% endif %}
            {% endcomment %}
            
            <div class="sp-description">
                {{ product.description }}
            </div>

            {% form 'product', product %}
                
                {% comment %} Hidden field for the product id we pass to cart {% endcomment %}
                <input id="productId" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"/> 
                <div class="shopify-product-form__top">
                    {% comment %} Only show variants that exist {% endcomment %}
                    {% unless product.has_only_default_variant %}
                        {% for option in product.options_with_values %}
                            <div class="sp-option {{ option.name | downcase}}">
                                <fieldset>
                                    <legend>{{ option.name }}</legend>
                                     <div class="sp-option-inner">
                                        {% for value in option.values %}
                                            <label class="option-item option-{{ option.name | downcase}}" for="{{ option.name | handlize }}-{{ value | handlize }}">
                                                <input type="radio" 
                                                        name="{{ option.name }}"
                                                        value="{{ value }}"
                                                        id="{{ option.name | handlize }}-{{ value | handlize }}"
                                                        {% if option.selected_value == value %} checked {% endif %}/>
                                                <span class="checkbox">{{ value }}</span>
                                            </label>
                                
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        {% endfor %}
                    {% endunless %}

                    {% comment %} Disable the fields if the product is sold-out {% endcomment %}
                    {% if product.selected_or_first_available_variant.available %} 
                        {% assign disable_field = ''; %}
                    {% else %}
                        {% assign disable_field = 'disabled'; %}
                    {% endif %}
                    
                    <input {{ disable_field }} class="quantity__input js-disable-field" type="hidden" id="quantity" name="quantity" value="1" min="1" max="10" />
                    {% comment %} Quantity
                    
                    <div class="sp-option quantity">
                        <fieldset>
                            <legend>Quantity</legend>
                            <button {{ disable_field }} class="quantity__btn js-sub js-disable-field" type="button">-</button>
                            <input  {{ disable_field }} class="quantity__input js-disable-field" type="number" id="quantity" name="quantity" value="1" min="1" max="10" />
                            <button {{ disable_field }} class="quantity__btn js-add js-disable-field" type="button">+</button>
                        </fieldset>
                    </div>
                    {% endcomment %}
                    <div class="sp-mobile-price">
                        <p class="sp-compare-price js-sp-compare-price {% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %} hidden {% endunless %}">
                            {{ product.selected_or_first_available_variant.compare_at_price | money }}
                        </p><p class="sp-price js-sp-price" data-moneyformat="{{ shop.money_format }}">{{ product.selected_or_first_available_variant.price | money }}</p>
                    </div>
                </div>

                {% comment %} Add to Cart {% endcomment %}
                <div class="sp-option submit">
                    <button id="addToCartBtn" {{ disable_field }} type="submit" class="add-to-cart-btn js-disable-field">
                        {% if product.selected_or_first_available_variant.available %}
                            Add to Cart
                        {% else %}
                            Sold Out
                        {% endif %}
                    </button>

                    {% if settings.show_buy_now %}
                        <button id="buyItNowBtn" type="submit" 
                                class="js-disable-field {% unless product.selected_or_first_available_variant.available %} hidden {% endunless %}">Buy it Now</button>
                    {% endif %}
                </div>
                

                
                
            {% endform %}
        </div>
    </div>
</section>
<!--
<script type="module">
    import PhotoSwipeLightbox from '{{ 'photoswipe-lightbox.esm.min.js' | asset_url }}';

    const leftArrowSVGString = '<svg aria-hidden="true" class="pswp__icn" viewBox="0 0 100 125" width="100" height="125"><path d="M5,50L50,5l3,3L11,50l42,42l-3,3L5,50z M92,95l3-3L53,50L95,8l-3-3L47,50L92,95z"/></svg>';

    const options = {
      arrowPrevSVG: leftArrowSVGString,
      arrowNextSVG: leftArrowSVGString,

      // to apply styles just to this instance of PhotoSwipe
      mainClass: 'pswp--custom-icon-colors',
      showHideAnimationType: 'fade',
      opacity: 1,
      gallery: '.test-gallery',
      children: 'a',
      pswpModule: () => import('{{ 'photoswipe.esm.min.js' | asset_url }}')
    };
    const lightbox = new PhotoSwipeLightbox(options);

    lightbox.init();
</script>
-->
<!--
<script type="module">
    import PhotoSwipeLightbox from 'photoswipe/dist/photoswipe-lightbox.esm.js';
    const lightbox = new PhotoSwipeLightbox({
      gallery: '#my-gallery',
      children: 'a',
      pswpModule: () => import('photoswipe/dist/photoswipe.esm.js')
    });
    lightbox.init();
</script>
-->