<section class="single-product" data-producturl="{{ product.url }}">
    <div class="single-product__left">
        <div class="sp-gallery">
            <script>
                console.log('hi', {{ product.selected_or_first_available_variant | json }}); 
            </script>

            {% if product.selected_or_first_available_variant.featured_image %}
                {% assign featured = product.selected_or_first_available_variant.featured_image %}
                <img id="productImage"
                     src="{{ featured | image_url: master }}" 
                     width="{{ featured.width }}" 
                     height="{{ featured.height }}" 
                     alt="{{ featured.alt }}"
                     loading="lazy" />
            {% else %}
                {% assign featured = product.featured_image %}
                <img id="productImage"
                     src="{{ featured | image_url: master }}" 
                     width="{{ featured.width }}" 
                     height="{{ featured.height }}" 
                     alt="{{ featured.alt }}"
                     loading="lazy" />
            {% endif %}

            <ul class="sp-gallery-thumbs">
                {% for image in product.images %}
                    <li class="{% if image == featured %}active{% endif %}">
                        <img src="{{ image | image_url: master }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="single-product__right">
        <div class="sp-wrapper">
            <h1 class="sp-title">{{ product.title }}</h1>
            
            <div class="sp-price-wrapper">
                <p class="sp-compare-price {% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %} hidden {% endunless %}">
                    {{ product.selected_or_first_available_variant.compare_at_price | money }}
                </p><p class="sp-price" data-moneyformat="{{ shop.money_format }}">{{ product.selected_or_first_available_variant.price | money }}</p>
            </div>

            {% comment %}
                {% if product.selected_or_first_available_variant.compare_at_price %}
                {% endif %}
            {% endcomment %}
            
            <p class="sp-description">{{ product.description }}</p>

            {% form 'product', product %}
                
                {% comment %} Hidden field for the product id we pass to cart {% endcomment %}
                <input id="productId" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"/> 
                
                {% comment %} Only show variants that exist {% endcomment %}
                {% unless product.has_only_default_variant %}
                    {% for option in product.options_with_values %}
                        <div class="sp-option">
                            <fieldset>
                                <legend>{{ option.name }}</legend>
                                {% for value in option.values %}
                                    <div>
                                        <input type="radio" 
                                            name="{{ option.name }}"
                                            value="{{ value }}"
                                            id="{{ option.name | handlize }}-{{ value | handlize }}"
                                            {% if option.selected_value == value %} checked {% endif %}/>
                                        <label for="{{ option.name | handlize }}-{{ value | handlize }}">{{ value }}</label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                    {% endfor %}
                {% endunless %}

                {% comment %} Disable the fields if the product is sold-out {% endcomment %}
                {% if product.selected_or_first_available_variant.available %} 
                    {% assign disable_field = ''; %}
                {% else %}
                    {% assign disable_field = 'disabled'; %}
                {% endif %}

                {% comment %} Quantity {% endcomment %}
                <div class="sp-option">
                  <button {{ disable_field }} class="quantity__btn js-sub js-disable-field" type="button">-</button>
                  <input  {{ disable_field }} class="quantity__input js-disable-field" type="number" id="quantity" name="quantity" value="1" min="1" max="10" />
                  <button {{ disable_field }} class="quantity__btn js-add js-disable-field" type="button">+</button>
                </div>

                <button id="addToCartBtn" {{ disable_field }} type="submit" class="js-disable-field">
                    {% if product.selected_or_first_available_variant.available %}
                        Add to Cart
                    {% else %}
                        Sold Out
                    {% endif %}
                </button>

                {% if settings.show_buy_now %}
                    <button id="buyItNowBtn" type="submit" 
                            class="js-disable-field {% unless product.selected_or_first_available_variant.available %} hidden {% endunless %}">Buy it Now</button>
                {% endif %}
                
            {% endform %}
        </div>
    </div>
</section>